.flexcolumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flexrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: seashell;
}
.App header {
  background-color: seagreen;
  color: white;
}
.App .links {
  padding: 1em;
}
.App .links .data .info {
  border: 2px groove seagreen;
  margin: 1em;
  text-align: center;
}
